*{
    text-align: center;
    box-sizing: border-box;
}
#description{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    padding:30px;
}
html{
display:flex;
justify-content: center;
}
body{
background-color: #69bd79;
        padding:0px;
        margin:0px;
        animation: fadein 300ms;
        -moz-animation: fadein 300ms;
        /* Firefox */
        -webkit-animation: fadein 300ms;
        /* Safari and Chrome */
        -o-animation: fadein 300ms;
        /* Opera */
}
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-moz-keyframes fadein {
    /* Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* Opera */
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
.select2-container{
    margin-left: 60px;
}
.select2-container--default .select2-selection--single{
    margin-left:60px;
}
.selection{
    padding: 0px 0px 30px;
    // align-items: baseline;
}
#change,#tran{
    margin-left:60px;
}
textarea{
resize:none;
width:350px;
height:400px;
}
select{
    width:200px;
    border:none;
    border-radius:3px;
}
.btn{
    background: none;
    border:none;
    color:black;
    font-size: 15px;
    cursor:pointer;
    margin-top:20px;
}
.container,.container2{
    margin:10px;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.textareas{
    display:flex;
    background-color: white;
    padding:20px 20px 10px;
    border-radius:8px;
}
a{
    color:black;
}
.footer{
    padding:10px;
}
.footer>*{
    margin:20px;
}