
.icon-exchange:before { content: '\e800'; } /* '' */
.icon-shuffle:before { content: '\e801'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
